.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main form {
  display: flex;
  flex-direction: column;
  width: 30rem;
  gap: 1em;
}

.main form input {
  padding: 1em;
}

.btn {
  min-width: 15rem;
  padding: 0.6em;
  cursor: pointer;
  background-color: #1f1f1f;
  color: white;
  font-size: 1rem;
}
